.form-group {
    margin-bottom: 1.5em;
}
.form-control {
    width: 100%;
    height: 40px;
}
label {
    font-weight:bold;
}


.multi-select-remove {
    line-height: 1;
    padding: 0 0 0 0.5em;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.multi-select-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.multi-select-list li {
    background: #efefef;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.5em;
}
.multi-select-list li + li {
    margin-top: 0.25em;
}